<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>村夫的村子</title>
	<style>
body{background-color:#b0c4de;}
div{
	top:50%;
	text-align: center;
}
	</style>
	<!--<script src="../static/jquery.min.js"></script>-->
	<!--<script>-->
<!--$(".btn10").click(function(){-->
    <!--alert('222')-->
    <!--var data = $("#addForm").serialize();-->
    <!--var url = $("#addForm").attr("action");-->
    <!--$.ajax({-->
        <!--type: 'POST',-->
        <!--url: url,-->
        <!--dataType: 'json',-->
        <!--data: data,-->
        <!--success: function (data) {-->
            <!--$('#json').html(data.result);-->
        <!--}-->
     <!--});-->
<!--})-->
<!--</script>-->

</head>

<body >
<div>
	<form target="_blank" id="addForm" action="/home/next" method="post">
		<select name="query_name">
			<option value="query_userbidinfo">用户投资记录查询接口</option>
			<option value="query_userbidrepayinfo">用户所持标的回款信息查询接口</option>
			<option value="query_useraccount">账户信息查询接口</option>
			<option value="query_bondinfo">对接平台标的列表查询接口</option>
			<option value="query_userbiditransfer">用户债转记录查询接口</option>
		</select>
		<p><textarea name="parm_str" rows="10" cols="100"></textarea></p>
		      <p style="color:red">* c_code、t_code、serial_num、sign不用填写</p>
              <p style="color:red">* 如需加密则在参数值后加 "_m"</p>
              <span style="color:red">例：platform_uid=293_m&start_time=2018-05-12 12:34:34&end_time=2018-05-12 12:34:34</span>
              <p><button class="btn10" type="submit">来呀，快活呀</button></p>
			  </form>


</div>
<hr>
<pre id="json"></pre>
</body>
</html>
